@model MailSender.Models.TemplateSendViewModel

@{
    ViewData["Title"] = "Templates";
}

<style>
    .select2-container {
        width: 100% !important;
    }
</style>

<h1>Templates</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var template in Model.Templates)
        {
            <tr>
                <td>@template.Text</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#updateModal" data-name="@template.Value">
                                Update  <i class="fas fa-pencil-alt"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="updateTemplateForm">
                    <input type="hidden" id="templateName" name="templateName" />

                    <div class="form-group">
                        <label for="SelectedGroupNames">Select Groups</label>
                        <select id="SelectedGroupNames" name="SelectedGroupNames" class="form-control js-select2" multiple="multiple">
                            @foreach (var group in Model.Groups)
                            {
                                <option value="@group.Value">@group.Text</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedGroupNames" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="SelectedUserIds">Select Users</label>
                        <select id="SelectedUserIds" name="SelectedUserIds" class="form-control js-select2" multiple="multiple">
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.Value">@user.Text</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedUserIds" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="templateVariables">Variables</label>
                        <div id="templateVariables" class="mb-3"></div>
                    </div>

                    <div id="variableDescriptionBox" style="display: none; position: fixed; right: 20px; top: 20px; width: 300px; border: 1px solid #ccc; padding: 10px; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <h5>Variable Description</h5>
                            <button type="button" class="close" aria-label="Close" onclick="hideDescriptionBox()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <p id="variableDescription"></p>
                    </div>

                    <div class="form-group">
                        <label for="templateContent">Content</label>
                        <textarea id="templateContent" name="templateContent" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveTemplateButton">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function drag(event) {
            event.dataTransfer.setData("text/plain", event.target.textContent.trim());
        }

        function drop(event) {
            event.preventDefault();
            const data = event.dataTransfer.getData("text/plain");
            const editor = tinymce.get('templateContent');
            editor.focus();
            editor.selection.setContent(data);
        }

        function allowDrop(event) {
            event.preventDefault();
        }

        function showDescription(description) {
            const descriptionBox = document.getElementById('variableDescriptionBox');
            const descriptionText = document.getElementById('variableDescription');
            descriptionText.textContent = description;
            descriptionBox.style.display = 'block';
        }

        function hideDescriptionBox() {
            const descriptionBox = document.getElementById('variableDescriptionBox');
            descriptionBox.style.display = 'none';
        }

        tinymce.init({
            selector: '#templateContent',
            height: 800,
            menubar: false,
            plugins: 'link code lists advlist image',
            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | indent outdent | bullist numlist | link image',
            setup: function (editor) {
                editor.on('init', function () {
                    editor.getDoc().body.style.transform = 'scale(1)';
                });
            },
            relative_urls: false,
            remove_script_host: false,
            convert_urls: false,
            document_base_url: '@Url.Content("~/")',
            file_picker_callback: function (callback, value, meta) {
                if (meta.filetype === 'image') {
                    var input = document.createElement('input');
                    input.setAttribute('type', 'file');
                    input.setAttribute('accept', 'image/*');
                    input.onchange = function () {
                        var file = this.files[0];
                        var formData = new FormData();
                        formData.append('file', file);

                        fetch('@Url.Action("UploadImage", "Template")', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => response.json())
                            .then(result => {
                                if (result.location) {
                                    callback(result.location, { alt: file.name });
                                } else {
                                    alert('Upload failed');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('An error occurred while uploading the image');
                            });
                    };
                    input.click();
                }
            }
        });

        $('#updateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var templateName = button.data('name');
            var modal = $(this);
            modal.find('#templateName').val(templateName);

            $.ajax({
                url: '@Url.Action("GetTemplateContentWithVariables", "Template")',
                method: 'GET',
                data: { templateName: templateName },
                success: function (response) {
                    tinymce.get('templateContent').setContent(response.content);
                    var variablesHtml = response.variableNames.map(function (variableName, index) {
                        var variableDescription = response.variableDescriptions[index];
                        return `
                                    <span class="badge badge-secondary" draggable="true" ondragstart="drag(event)">
                                        ${variableName}
                                        <i class="fas fa-info-circle" onclick="showDescription('${variableDescription}')"></i>
                                    </span>
                                `;
                    }).join(' ');
                    $('#templateVariables').html(variablesHtml);
                },
                error: function () {
                    alert('An error occurred while fetching the template content');
                }
            });
        });

        $('#saveTemplateButton').click(function () {
            var templateName = $('#templateName').val();
            var templateContent = tinymce.get('templateContent').getContent();
            var selectedGroupNames = $('#SelectedGroupNames').val();
            var selectedUserIds = $('#SelectedUserIds').val();

            $.ajax({
                url: '@Url.Action("UpdateTemplate", "Template")',
                method: 'POST',
                data: {
                    TemplateName: templateName,
                    TemplateContent: templateContent,
                    SelectedGroupNames: selectedGroupNames,
                    SelectedUserIds: selectedUserIds
                },
                traditional: true,
                success: function (response) {
                    alert('Template updated successfully');
                    $('#updateModal').modal('hide');
                },
                error: function () {
                    alert('An error occurred while updating the template');
                }
            });
        });

        $(document).ready(function () {
            $('.js-select2').select2({
                placeholder: "Select",
                allowClear: true
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
}
